@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --light-turq: #33c5ff;
  --dark-blue: #094d9b;
  --large-pad: 50px;
  --small-pad: 10px;
  --mini-pad: 5px;
  --micro-pad: 2px;
  background-color: black;
}

body {
  font-family: "Syne Mono", monospace;
  background-image: url("./images/skyPaint.jpg");
  background-size: cover;
  background-position: bottom;
}

p {
  color: var(--dark-blue);
}

.error {
  color: red;
  text-align: center;
  font-weight: bolder;
}

.nav .current {
  color: green;
  border: green solid var(--micro-pad);
  border-radius: 7px;
}

p {
  font-size: 125%;
}

.h1 {
  background-color: none;
  color: green;
}
.h2 {
  color: var(--dark-blue);
}
.subheader {
  background: transparent;
}

.work-header {
  color: var(--dark-blue);
}

.nav {
  border-bottom: green dashed 2px;
  
}

.nav button {
  margin-bottom: 5px;
  padding: 5px;
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

.nav button:hover {
  color: green;
  cursor: pointer;
}

.contact-header {
  color: var(--light-turq);
}

.about {
  color: var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
}

.resume {
  color: var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
}

.bio_pic {
  width: 25%;
}

.card {
  background-size: 100%;
  filter: none;
  position: relative;
  border-radius: 4px;
  border: 2px dashed green;
  padding: 10px;
}

.card:hover {
  filter: none;
}

.h4 {
  background-color: white;
  border-style: none;
  border-radius: 4px;
  padding: var(--mini-pad);
  text-align: left;
  position: absolute;
  top: 42%;
  left: 7%;
}

.h4 h3 {
  font-size: 125%;
}

.h4 h3 a:hover {
  color: green;
}

i:hover {
  color: green;
}

iframe {
  border-radius: 10px;
  border: none;
}

.pets {
  background-image: url("./images/pets.png");
  filter: opacity(0.75);
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;

}

.books {
  background-image: url("./images/books.png");
  background-color: skyblue;
  filter: opacity(0.75);
  background-position: bottom;
  background-size: 120%;
}

.portfolio {
  background: transparent;
  /* background-color: skyblue; */
  filter: opacity(0.75);
}

.surf {
  background-image: url("./images/surf.jpeg");
  background-color: skyblue;
  filter: opacity(0.75);
}

.LED {
  background-image: url("./images/planner.jpeg");
  background-color: magenta;
  filter: opacity(0.75);
}

.calc {
  background-image: url("./images/key.jpeg");
  background-color: grey;
  filter: opacity(0.75);
}

.eight_ball {
  background-image: url("./images/eight_ball.png");
  background-color: none;
  background-position: top;
  filter: opacity(0.75);
  background-size: 25%;
}

.run {
  background-image: url("./images/doggies.jpeg");
  background-color: green;
  filter: opacity(0.75);
}

label {
  color: var(--dark-blue);
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  margin: var(--small-pad);
}

.info-item a {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

.info-item a:hover {
  color: green;
  border: none;
  cursor: pointer;
  border-bottom: green solid var(--micro-pad);
}

#download {
  display: flex;
  justify-content: space-around;

  font-size: 100%;
}

#download a {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

#download a:hover {
  color: green;
  border: none;
  cursor: pointer;
  border-bottom: green solid var(--micro-pad);
}

form {
  display: grid;
  grid-template-rows: 1fr;
}

.error {
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 200px;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

label {
  font-size: 125%;
  padding: 20px;
}

.submit {
  text-align: left;
  margin: 15px;
}

.submit button {
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
  font-size: 125%;
  width: 125px;
}

@media screen and (min-width: 175px) {
  body {
    flex-direction: column;
  }
  .space-fill-1 {
    height: 50px;
  }

  .subheader {
    margin: 10px;
  }

  h1 {
    text-align: left;
    flex: 100%;
    font-size: 200%;
  }

  .h2 {
    font-size: 175%;
  }

  .h2 h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    /* color: black; */
  }
  .h3 {
    color: green;
    font-size: 200%;
    text-align: left;
    padding-top: 25px;
    margin-left: 20%;
  }

  h3 a {
    color: rgb(100, 1, 131);
  }

  .nav {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav button {
    font-size: 100%;
    font-weight: bolder;
    margin-right: 5px;
  }

  .viewer {
    margin: 2%;
    width: 96%;
    height: 480px;
  }

  .bio {
    font-size: 100%;
  }

  form {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  #resume {
    display: block;
    margin: 25px;
  }

  .res_title {
    margin-bottom: 20px;
  }

  ul li {
    margin: 20px;
    font-size: 100%;
    text-align: left;
    
  }

  li img {
    transform: scale(1.5, 1.5);
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #gear {
    font-size: 100px;
    text-align: center;
    padding: 20px;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .bio_pic {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 25px;
  }
  .work_pic {
    width: 33%;
  }

  .h2 h2 {
    margin-left: 5%;
  }

  .bio {
    display: block;
    padding: 10px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-item {
    padding: 10px;

  }

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: var(--small-pad);
  }

  .card {
    text-align: right;
    height: 200px;
    margin: var(--mini-pad);
  }

}

@media screen and (min-width: 765px) {

  h1 {
    text-align: left;
    font-size: 200%;
  }

  .h2 {
    font-size: 175%;
  }
  .h2 h2 {
    text-align: left;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav button {
    font-size: 150%;
  }

  .viewer {
    margin-left: 20%;
    height: 600px;
    width: 60%;
  }

  .bio {
    display: flex;
    flex-wrap: flex;
    align-items: top;
  }

  .bio_pic {
    width: 200px;
    margin: 20px;
  }
  .work_pic {
    width: 33%;
    margin: 4%;
  }

  form {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 20%;
    margin-right: 20%;
  }

  input {
    width: 300px;
  }

  ul li {
    font-size: 100%;
    list-style: none;
    list-style-position: inside;
  }

  #resume {
    display: flex;
    flex-wrap: wrap;
  }

  .resume {
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .backend {
    margin-left: 100px;
  }

  .info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
  }

  .info-item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 125%;
  }

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--mini-pad);
    margin-right: 5%;
    margin-left: 3%;
  }

  .subheader {
    margin: 20px;
  }

  .card {
    display: flex;
    justify-content: right;
    flex: 0 0 100%;
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .about {
    margin-left: 18.5%;
    margin-right: 20%;
  }

  .bio {
    font-size: 125%;
  }

  #resume {
    display: flex;
    margin-left: 18.5%;
    margin-right: none;
  }

  .space-fill-1 {
    height: 100px;
  }
  .info {
    display: flex;
    flex-wrap: nowrap;
  }

  .info-item {
    padding: 20px;
    font-size: 125%;
  }
  .samples {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mini-pad);
    margin-right: 22%;
    margin-left: 19%;
  }

  .card {
    flex: 0 0 100%;
    height: 200px;
  }

  .h1 {
    display: flex;
    font-size: 200%;
    flex: wrap;
  }

  .h2 {
    font-size: 175%;
  }

  .h2 h2 {
    margin-left: 20%;
  }

  a {
    text-decoration: none;
  }

  .nav button {
    font-size: 150%;
    padding: var(--small-pad);
  }

  .nav {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin-left: 22%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.5%;
    margin-right: 20%;
    padding: 10px;
    justify-content: space-between;
  }

  ul li {
    font-size: 100%;
    list-style: none;
    transform: scale(1.5, 1.5);
    padding-top: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1700px) {

  .nav {
    justify-content: left;
  }

  .nav button {
    font-size: 150%;
    margin-left: 50px;
  }

  main {
    margin-right: 15%;
  }

}
