@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

/*thank you Erica for asking the question in OH*/
html {
  scroll-behavior: smooth;
}

/*set color and font variables*/
:root {
  --light-turq: #33c5ff;
  --dark-grey: #363642;
  --dark-blue: #094d9b;
  --large-pad: 50px;
  --small-pad: 10px;
  --mini-pad: 5px;
  --micro-pad: 2px;
}

body {
  font-family: "Syne Mono", monospace;
  /* background-image: url("./images/blue_herring.jpeg");
  background-size: cover; */
  background-image: url("./images/bg.jpg");
  background-size: cover;
}
/*top headings*/
.h1 {
  background-color: none;
  color: green;
}
.h2 {
  color: var(--dark-blue);
}
.subheader {
  background: transparent;
  border-radius: 10px;
}

.work-header {
  color: var(--dark-blue);
}

.nav li {
  display: inline;
}

.nav button {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--dark-blue) solid var(--micro-pad);
  background: none;
}

.nav button:hover {
 color: green;
 border: none;
 cursor: pointer;
 border-bottom: green solid var(--micro-pad);
}

.contact-header {
  color: var(--light-turq);
}

.about {
  color:var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 12px;
}

.resume {
  color:var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  font-size: 120%;
}

.bio_pic {
  width: 25%;
}

.bio {
  display: flex;
  font-size: 120%;
  padding: 20px;
}


/*sample cards with transparent effect*/
.card {
  background-size: 100%;
  filter: none;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  filter: none;
}

/*style titles inside cards*/
.h4 {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: var(--mini-pad);
  text-align: left;
  position: absolute;
  top: 5%;
  left: var(--large-pad);
  color: black;
}

.h4 h3 {
  font-size: 150%;
}

.h4 p {
  font-size: 100%;
}

/* individual backgrounds for cards */
.surf {
  background-image: url("./images/surf.jpeg");
  background-color: skyblue;
  filter: opacity(0.75);
}

.LED {
  background-image: url("./images/planner.jpeg");
  background-color: magenta;
  filter: opacity(0.75);
}

.calc {
  background-image: url("./images/key.jpeg");
  background-color: grey;
  filter: opacity(0.75);
}

.eight_ball {
  background-image: url("./images/eight_ball.png");
  background-color: white;
  background-position: top;
  filter: opacity(0.75);
  background-size: 25%;
}

.run {
  background-image: url("./images/run.jpeg");
  background-color: green;
  filter: opacity(0.75);
}

/*contact info links*/

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-item {
  margin: var(--small-pad);
}

.info-item a {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

.info-item a:hover {
 color: green;
 border: none;
 cursor: pointer;
 border-bottom: green solid var(--micro-pad);
}

/* .skills {
  width: 10rem;
} */

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 175px) {
  /*on mobile phones, set one column */
  body {
    flex-direction: column;
  }
  .space-fill-1 {
    height: 50px;
  }
  h1 {
    text-align: left;
    flex: 100%;
    font-size: 200%;
  }

  .h2 {
    text-align: center;
    font-size: 150%;
    padding: var(--small-pad);
  }

  .current {
    color: green;
   border: none;
   border-bottom: green solid var(--micro-pad);
  }

a {
  text-decoration: none;
  color: black;
}
  .h3 {
    padding: var(--mini-pad);
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    color: green;
    font-size: 200%;
    margin-left: 5%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }

  #resume {
    display: block;
  }

  .res_title {
    margin-bottom: 20px;
  }

  #gear {
    font-size: 175px;
    text-align: center;
 
  padding: 20px;
  }

  .bio_pic {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 25px;
  }
  
  .bio {
    display: block;
    font-size: 120%;
    padding: 20px;
  }

  .info {
    display: block;
    padding-left: 20%;
  }

  .info-item {
    padding-block: 10px;
  }

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: var(--small-pad);
  }

  .about {
    margin: var(--small-pad);
  }


  .card {
    height: 150px;
    margin: var(--mini-pad);
  }

  .subheader {
  
    padding-top: var(--large-pad);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 4%;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .space-fill-2 {
    height: 100px;
  }

  h1 {
    text-align: left;
    font-size: 200%;
  }

  .h2 {
    font-size: 175%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  .nav {
    display: flex;
    justify-content: center;
    line-height: 200%;
  }
  .subheader {
    display: block;
  }

  .bio_pic {
    width: 200px;
    margin: 20px;
  }
  
  .bio {
    display: flex;
    align-items: center;
    font-size: 120%;
    padding: 20px;
  }

  #resume {
    display: flex;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20%;
  }

  .info-item {
    margin: var(--small-pad);
    font-size: 150%;
  }
  /* ensures samples cards have space gap */
  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--mini-pad);
  }
  /* next two make sure first card is twice the size of the others,
taking into account about 5px padding */

  .card:first-child {
    flex: 0 0 98%;
    height: 250px;
  }

  .card {
    flex: 0 0 48%;
    height: 125px;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .about {
  margin-left: 18.5%;
  margin-right: 20%;
  }

  .res_title {
    margin-top: 20px;
    margin-left: 22%;
    margin-bottom: 20px;
  }
  #resume {
    display: flex;
    margin-left: 18.5%;
    margin-right: 20%;
    align-items: center;
  }

  .space-fill-1 {
    height: 100px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-item {
    padding: 20px;
  }
  .samples {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mini-pad);
    width: 65%;
    margin: 0 auto;
  }
  .card:first-child {
    flex: 0 0 97%;
    height: 300px;
  }

  .card {
    flex: 0 0 48%;
    height: 150px;
  }

  .h1 {
    display: flex;
    font-size: 200%;
    flex: wrap;
  }

  .h2 {
    font-size: 175%;
    text-align: left;
    margin-left: 20%;
  }

  a {
    text-decoration: none;
  }

  .nav li {
    font-size: 100%;
    padding: var(--mini-pad);
    margin: var(--mini-pad);
  }

  .nav {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    font-size: 175%;
    margin-left: 22%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.5%;
    margin-right: 20%;
    padding: 10px;
    justify-content: space-between;
  }
}
