@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --light-turq: #33c5ff;
  --dark-grey: #363642;
  --dark-blue: #094d9b;
  --large-pad: 50px;
  --small-pad: 10px;
  --mini-pad: 5px;
  --micro-pad: 2px;
}

body {
  font-family: "Syne Mono", monospace;
  background-image: url("./images/bg.jpg");
  background-size: cover;
}

.error {
  color: red;
  text-align: center;
  margin-left: 10px;
}

.nav .current {
color: green;
 border: none;
 border-bottom: green solid var(--micro-pad);
}

p {
  font-size: 125%;
}

.h1 {
  background-color: none;
  color: green;
}
.h2 {
  color: var(--dark-blue);
}
.subheader {
  background: transparent;
}

.work-header {
  color: var(--dark-blue);
}

.nav {
  border-bottom: green solid var(--micro-pad);
}


.nav li {
  display: inline;
}

.nav button {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

.nav button:hover {
 color: green;
 border: none;
 cursor: pointer;
 border-bottom: green solid var(--micro-pad);
}

.contact-header {
  color: var(--light-turq);
}

.about {
  color:var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
}

.resume {
  color:var(--dark-blue);
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
}

.bio_pic {
  width: 25%;
}

.bio {
  display: flex;
  padding: 10px;
}

.card {
  background-size: 100%;
  filter: none;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  filter: none;
}

.h4 {
  background-color: white;
  border-radius: 10px;
  padding: var(--mini-pad);
  text-align: left;
  position: absolute;
  top: 5%;
  left: var(--small-pad);
}

.h4 h3 {
  font-size: 150%;
}

.portfolio {
  background: url("./images/bg.jpg");
  background-color: skyblue;
  filter: opacity(0.75);
}

.surf {
  background-image: url("./images/surf.jpeg");
  background-color: skyblue;
  filter: opacity(0.75);
}

.LED {
  background-image: url("./images/planner.jpeg");
  background-color: magenta;
  filter: opacity(0.75);
}

.calc {
  background-image: url("./images/key.jpeg");
  background-color: grey;
  filter: opacity(0.75);
}

.eight_ball {
  background-image: url("./images/eight_ball.png");
  background-color: white;
  background-position: top;
  filter: opacity(0.75);
  background-size: 25%;
}

.run {
  background-image: url("./images/doggies.jpeg");
  background-color: green;
  filter: opacity(0.75);
}

ol li {
  padding: 10px;
  font-size: 125%;
  list-style: "⚙️ "; 
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  margin: var(--small-pad);
}

.info-item a {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

.info-item a:hover {
 color: green;
 border: none;
 cursor: pointer;
 border-bottom: green solid var(--micro-pad);
}

#download {
  margin-left: -25px;
  margin-top: 20px;
}

#download a {
  padding-bottom: var(--micro-pad);
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  background: none;
}

#download a:hover {
  color: green;
 border: none;
 cursor: pointer;
 border-bottom: green solid var(--micro-pad);
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

textarea {
  height: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  flex: 100%;
  border: none;
  margin: 10px;
}

.submit {
  color: var(--dark-blue);
  text-decoration: none;
  border: none;
  border-bottom: var(--dark-blue) solid;
  background: none;
  font-size: 125%;
  margin: 30px;
}


@media screen and (min-width: 175px) {
  
  body {
    flex-direction: column;
  }
  .space-fill-1 {
    height: 50px;
  }

  .form {
    display: block;
    justify-content: center;
    padding: 20px;
    margin-right: 25px;
  }
  
  h1 {
    text-align: left;
    flex: 100%;
    font-size: 200%;
  }

  .h2 {
    font-size: 175%;
    padding: var(--small-pad);
  }

  .h2 h2 {
    text-align: center;
  }

a {
  text-decoration: none;
  /* color: black; */
}
  .h3 {
    padding: var(--mini-pad);
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    color: green;
    font-size: 200%;
    margin-left: 5%;
  }

  h3 a {
    color: rgb(100, 1, 131);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    line-height: 200%;

  }

  .nav li {
    font-size: 110%;
    padding: var(--mini-pad);
    font-weight: bolder;
  }

  #resume {
    display: block;
    margin: 25px;
  }

  .res_title {
    margin-bottom: 20px;
  }

  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  #gear {
    font-size: 150px;
    text-align: center;
  margin-top: 25px;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }

  .bio_pic {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 25px;
  }
  .work_pic {
    width: 33%;
  }


  .h2 h2 {
    margin-left: 5%;

  }

  .bio {
    display: block;
    padding: 10px;
  }

  .info {
    display: block;
    padding-left: 20%;
  }

  .info-item {
    padding-block: 10px;
  }

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: var(--small-pad);
  }

  .card {
    text-align: right;
    height: 200px;
    margin: var(--mini-pad);
  }

  .subheader {
  
    padding-top: var(--large-pad);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 4%;
    padding: 10px;
  }
}

@media screen and (min-width: 765px) {
  .space-fill-2 {
    height: 100px;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .form {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    margin-top: 25px;
  }

  h1 {
    text-align: left;
    font-size: 200%;
  }

  .h2 {
    font-size: 175%;
  }
.h2 h2 {
  text-align: left;
}
  .nav {
    display: flex;
    justify-content: space-between;
    line-height: 200%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  
  .subheader {
    display: block;
  }

  .bio {
    display: flex;
    flex-wrap: flex;
    align-items: center;
  }

  .bio_pic {
    width: 200px;
    margin: 20px;
  }
.work_pic {
  width: 33%;
  margin: 4%;
}
  #resume {
    display: flex;
    align-items: top;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .info-item {
    margin: var(--small-pad);
    font-size: 150%;
  }
  

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--mini-pad);
    margin-right: 5%;
    margin-left: 3%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .card {
    display: flex;
    justify-content: right;
    flex: 0 0 100%;
    height: 200px;
  }

}

@media screen and (min-width: 992px) {
  .about {
  margin-left: 18.5%;
  margin-right: 20%;
  }

  #resume {
    display: flex;
    margin-left: 18.5%;
    margin-right: 22%;
    align-items: top;
  }

  .space-fill-1 {
    height: 100px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .info-item {
    padding: 20px;
  }
  .samples {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mini-pad);
    margin-right: 22%;
    margin-left: 19%;
  }

  .card {
    flex: 0 0 100%;
    height: 200px;
  }

  .h1 {
    display: flex;
    font-size: 200%;
    flex: wrap;
  }

  .h2 {
    font-size: 175%;
  }

  .h2 h2 {
    margin-left: 20%;

  }

  a {
    text-decoration: none;
  }

  .nav li {
    font-size: 150%;
    padding: var(--small-pad);
  }

  .nav {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin-left: 22%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.5%;
    margin-right: 20%;
    padding: 10px;
    justify-content: space-between;
  }
}
